.numberButton {
  background-color: blue;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 6px;
  width: 100%;
}

.operatorButton {
  background-color: #00ff04;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 6px;
  width: 100%;
}

.clearButton {
  background-color: #ff0000;
  color: #ffffff;
  border-color: #ffffff;
  width: 100%;
  border-radius: 6px;
}

.calculateButton {
  background-color: #ffb900;
  color: #ffffff;
  border-color: #ffffff;
  width: 100%;
  border-radius: 6px;
}

.displayResult {
  border-radius: 6px;
}
